<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%> 
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/newPost-banner.png')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1></h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                       
                        <div class="my-5">
                            <!-- <form action="/posts/store" method="POST" enctype="multipart/form-data"
                            >
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" placeholder="Enter a title..." />
                                    <label for="title">Title</label>
                                </div>
                    
                                <div class="form-floating">
                                    <textarea class="form-control" id="body" name="body" rows="5" placeholder="Enter your post here..."></textarea>
                                    <label for="body">Body</label>
                                </div>

                                <div class="form-floating">
                                    <div class="form-group floating-label-form-group controls">
                                    <label for="title">Image</label> 
                                    <input class="form-control" id="image" type="file" name="image" />
                                    
                                </div>


                                <br />
                                
                                <button class="btn btn-primary text-uppercase" id="sendMessageButton" type="submit">Send</button>
                            </form> -->


                            <form action="/posts/store" method="POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" placeholder="Enter a title..." />
                                    <label>Title</label>
                                </div>
                            
                                <!-- <div class="form-floating">
                                    <textarea class="form-control" id="body" name="body" rows="5""></textarea>
                                    <label>Body</label>
                                </div> -->

                                <div class="form-floating">
                                    <div class="form-group floating-label-form-group controls"> 
                                    <label>Body</label>
                                    <textarea class="form-control" id="body" name="body"></textarea>
                                    
                                    <script> 
                                        $('#body').summernote({ 
                                          placeholder: 'Hello bootstrap 4', 
                                          tabsize: 2, 
                                          height: 200 
                                        }); 
                                      </script> 
                                </div>
                                </div>
                            
                                <div class="form-floating">
                                    <div class="form-group floating-label-form-group controls">
                                        <label>Image</label> 
                                        <input class="form-control" id="image" name="image" type="file" />
                                    </div>
                                </div>
                                <br />                              
                                <button class="btn btn-primary text-uppercase" id="sendMessageButton" type="submit">Send</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer'); -%> 
        <%- include('layouts/scripts'); -%> 
    </body>

</html>